* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    width: 100%;
    background-color: #080d1c;
    padding-top: 80px;
}

.d_ft_row1 {
    width: 100%;
    display: flex;
}

.ft_row1_1 {
    width: 25%;
}

.d_h2_abu {
    width: 100%;
}

.d_h2_abu h2 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}

.d_menu_abu {
    width: 100%;
}

.d_menu_abu ul {
    list-style: none;
    padding-left: 0;
}

.d_menu_abu ul li {
    padding: 15px 0;
}

.d_menu_abu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.ft_row1_2 {
    width: 25%;
}

.d_h2_ufl {
    width: 100%;
}

.d_h2_ufl h2 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.d_menu_ufl {
    width: 100%;
}

.d_menu_ufl ul {
    list-style: none;
    padding-left: 0;
    width: 100%;
}

.d_menu_ufl ul li {
    padding: 9px 0;
}

.d_menu_ufl ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.d_menu_ufl ul li a:hover, .d_menu_abu ul li a:hover {
    color: #94d549;
    transition: 0.5s;
}

.ft_row1_3 {
    width: 25%;
}

.d_h2_og {
    width: 100%;
}

.d_h2_og h2 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.d_menu_og {
    width: 100%;
    text-align: center;
}

.d_menu_og div img {
    max-width: 130%;
    height: 80%;
}

.ft_row1_4 {
    width: 25%;
}

.d_h2_wh {
    width: 100%;
}

.d_h2_wh h2 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.d_menu_wh {
    width: 100%;
}

.d_wh {
    border-bottom: 1px solid #ffffff8c;
    padding: 12px 0;
}

.d_menu_wh span {
    color: #fff;
}

.wh_hour {
    float: right;
}

.d_ft_row2 {
    border-top: 1px solid #ffffff8c;
    width: 100%;
    display: flex;
    padding: 20px 20px 0px 20px;
}

.d_ft_row2_left {
    width: 50%;
    float: left;
}

.d_ft_row2_left p {
    color: #fff;
    font-size: 16px;
}

.d_ft_row2_right {
    width: 50%;
}

.d_ft_row2_right a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    float: right;
    padding-left: 20px;
}

