* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav1 - Header */
.d_hd1 {
    background-color: #94d549;
    width: 100%;
}

.d_nav1 {
    display: flex;
    width: 100%;
}

.d_nav1_info {
    float: left;
    color: white;
    margin-top: 10px;
    width: 30%;
    font-weight: bold;
}

.d_nav1_info p {
    color: white;
    font-weight: bold;
}

.d_nav1_phone {
    float: left;
    color: white;
    margin-top: 10px;
    width: 60%;
    font-weight: bold;
}

.d_nav1_phone p {
    color: white;
    font-weight: bold;
}

.d_nav1_icon {
    display: flex;
    float: right;
    color: white;
    margin-top: 10px;
    width: 10%;
}

.d_nav1_icon a {
    text-align: right;
    width: 25%;
    font-weight: bold;
    color: white;
}

.d_nav1_icon a:hover {
    color: #272727;
    transition: 0.5s;
}

/* Nav2 - Header */
.d_hd2 {
    width: 100%;
    background-color: #fff;
    padding: 25px;
}

.d_nav2 {
    display: flex;
    width: 100%;
}

.d_nav2_logo {
    float: left;
    width: 30%;
    margin-top: 10px;
}

.d_nav2_menu {
    width: 50%;
    float: left;
    margin-top: 10px;
}

.d_nav2_icon_contact {
    display: flex;
    width: 20%;
    float: right;
}

.d_nav2_menu ul {
    display: flex;
    list-style: none;
    float: right;
}

.d_nav2_menu ul li {
    width: 16.6666666667;
}

.d_nav2_menu ul li a {
    text-decoration: none;
    color: #272727;
    font-weight: 600;
    font-size: 18px;
    padding-right: 25px;
}

.icon_search {
    float: right;
    text-align: right;
    text-decoration: none;
    width: 40%;
    font-size: 18px;
    color: #000;
    padding-right: 25px;
    margin-top: 10px;
    cursor: pointer;
}

.contact {
    float: right;
    text-decoration: none;
    width: 60%;
    background-color: #94d549;
    color: #fff;
    border-radius: 30px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 13px;
    font-weight: 600;
}

.d_nav2_menu li a:hover {
    color: #94d549;
    transition: 0.5s;
}

.contact:hover {
    background-color: #272727;
    transition: 0.5s;
    cursor: pointer;
}