* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
}

.d_row1 {
    background-image: url("/assets/image/video2-bg.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    position: relative;
    z-index: 1;
}

.d_row1::before {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.h1_ct {
    width: 100%;
    padding-top: 50px;
    position: relative;
    z-index: 2;
}

.h1_ct h1 {
    font-size: 30px;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
}

.dd_ct {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.dd_ct a {
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    text-decoration: none;
    padding: 0 10px;
}

.dd_ct a:hover {
    color: #94D549;
    transition: 0.5s;
}

.dd_ct p {
    color: #fff;
    padding-bottom: 50px;
}

.d_row2 {
    width: 100%;
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.d_row2_left {
    width: 50%;
    float: left;
    position: relative;
    padding: 85px 30px 50px 30px;
    text-align: left;
    border-radius: 0;
    background: #fff;
    box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 10%);
    border-top: 5px solid #94D549;
    margin-right: 20px;
}

.h1_left {
    width: 100%;
}

.h1_left h1 {
    color: #94d549;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

.h2_left {
    width: 100%;
    padding-bottom: 30px;
}

.h2_left h2 {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}

.form_left {
    width: 100%;
}

.form_row1  {
    display: flex;
    width: 100%;
}

.d_ip_name, .d_ip_email {
    width: 50%;
}

.d_ip_name input, .d_ip_email input {
    width: 90%;
    height: 55px;
    outline: none;
    margin-bottom: 23px;
    background: #02010100;
    border-style: solid;
    border-width: 1px;
    border-color: #f1f1f1;
    border-radius: 5px;
    padding: 0;
    padding-left: 30px;
}

.form_row2 {
    width: 100%;
    display: flex;
}

.d_ip_phone, .d_ip_subject {
    width: 50%;
}

.d_ip_phone input, .d_ip_subject input {
    width: 90%;
    height: 55px;
    outline: none;
    margin-bottom: 23px;
    background: #02010100;
    border-style: solid;
    border-width: 1px;
    border-color: #f1f1f1;
    border-radius: 5px;
    padding: 0;
    padding-left: 30px;
}

.form_row3 {
    width: 100%;
}

.d_ip_comment {
    width: 95%;
}

.d_ip_comment input {
    margin-bottom: 16px;
    height: 150px;
    width: 100%;
    padding-top: 10px;
    padding-left: 30px;
    color: #888;
    background: #02010100;
    border-radius: 5px;
    border-color: #f1f1f1;
    border-style: solid;
    border-width: 1px;
}

.d_btn_mess {
    width: 100%;
}

.d_btn_mess input {
    text-transform: capitalize;
    border: 0 none;
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 100px;
    margin-top: 0;
    background: #94d549;
    color: #fff;
}

.d_btn_mess input:hover {
    background-color: #000;
    transition: background-color 0.5s;
}

.d_row2_right {
    width: 50%;
}
.d_btn_mess {
    width: 100%;
}